/*====================================================== 
	All Partial scss files import here ======================================================*/
* { margin: 0px; padding: 0px; }

html { line-height: 1.15; box-sizing: border-box; min-height: 100%; height: 100%; }

body { background-color: #fff; font-family: "Roboto", sans-serif; font-size: 0.875rem; font-weight: 400; height: 100%; min-height: 100%; color: #111; overflow-x: hidden; position: relative; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }

/* Title Typo */
body h1, body h2, body h3, body h4, body h5, body h6 { color: #111; font-style: normal; font-weight: 600; margin: 0px 0px 10px 0px; font-family: "Roboto", sans-serif; letter-spacing: 1px; font-size-adjust: none; -moz-font-size-adjust: none; -webkit-font-size-adjust: none; }

h1 { font-size: 2.875rem; }

h2 { font-size: 1.875rem; }

h3 { font-size: 1.5625rem; }

h4 { font-size: 1.375rem; }

h5 { font-size: 1.25rem; }

h6 { font-size: 1rem; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #111; }

p { color: #111; letter-spacing: 1px; line-height: 24px; margin-bottom: 10px; }

a { text-decoration: none; background-color: transparent; }

a:hover, a:focus, a:active { color: #111; outline: none; text-decoration: none; }

ul { margin-bottom: 0px; }

img, a img { height: auto; max-width: 100%; border-style: none; }

b, strong { font-weight: 600; }

small { font-size: 80%; }

strong { color: #111; }

/* Form Input Typo */
label { color: #111; font-weight: 400; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { border: 1px solid #ebebeb; color: #111; display: inline-block; font-size: 0.875rem; font-weight: 400; height: 32px; line-height: 20px; outline: none; padding: 4px 6px; vertical-align: middle; background-color: #fff; border-radius: 4px; }

button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; -webkit-appearance: button; }

button, input { overflow: visible; border: none; }

button, select { text-transform: none; }

input[type="submit"] { outline: none; }

option { padding: 5px 15px; }

/* ThemeUnit Style's */
li { list-style: disc inside none; }

ol { float: none; list-style: decimal; padding-left: 15px; }

ol ol { margin-left: 20px; }

ol li { list-style: decimal; width: 100%; }

.main-header { position: fixed; top: auto; right: auto; bottom: auto; left: auto; width: 100%; z-index: 2; background-color: #fff; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08); -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08); -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08); }
.main-header .header-height { height: 70px; }

.flex-header { height: 70px; display: -ms-flexbox !important; display: flex !important; -ms-flex-pack: justify !important; justify-content: space-between !important; -ms-flex-align: center !important; align-items: center !important; }

.nav-menu { margin: 0; }
.nav-menu ul { position: absolute; top: 100%; left: 0; z-index: 99; margin: 0px; padding: 0px; min-width: 240px; visibility: hidden; opacity: 0; background-color: #fff; filter: alpha(opacity=0); box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08); -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08); -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08); -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.nav-menu ul ul { top: 0; left: 100%; margin: 0px; }

.nav-menu ul li { min-width: 200px; text-align: left; }

.nav-menu li a { padding: 20px 10px 20px 10px; text-decoration: none; display: block; color: #222222; font-size: 15px; outline: none; }

.nav-menu ul li a { padding: 10px 20px; border-bottom: 1px solid #f2f2f2; }

.nav-menu ul li:last-child a { border-bottom: none; }

.nav-menu ul li:hover > a { background-color: #f5f5f5; }

.nav-menu li { position: relative; white-space: nowrap; list-style-type: none; }

.nav-menu li:hover > ul, .nav-menu li.sfHover > ul { visibility: visible; opacity: 1; filter: alpha(opacity=100); -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }

.nav-menu > li { float: left; margin-left: 10px; }

.nav-menu li:hover > a, .nav-menu > .menu-active > a { color: #381AFF; }

.login-form { padding: 20px 0px; }

#mobile-nav-toggle { position: fixed; right: 15px; z-index: 99999; top: 22px; width: 25px; height: 25px; background: transparent; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; cursor: pointer; outline: none; display: none; border: none; }
#mobile-nav-toggle span { display: block; position: absolute; height: 3px; width: 100%; background: #000; border-radius: 9px; opacity: 1; left: 0; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

.menu-has-children ul { display: none; }

#mobile-nav-toggle span:nth-child(1) { top: 0px; }

#mobile-nav-toggle span:nth-child(2) { top: 8px; }

#mobile-nav-toggle span:nth-child(3) { top: 16px; }

#mobile-nav-toggle.open span:nth-child(1) { top: 7px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }

#mobile-nav-toggle.open span:nth-child(2) { opacity: 0; left: -60px; }

#mobile-nav-toggle.open span:nth-child(3) { top: 7px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); }

@media (max-width: 800px) { #mobile-nav-toggle { display: inline; }
  #nav-menu-container { display: none; } }
#mobile-nav { position: fixed; top: 0; bottom: 0; z-index: 998; background: #fff; left: -260px; width: 260px; overflow-y: auto; border-right: 1px solidtheme-color("background", "light"); -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

#mobile-nav ul { padding: 0; margin: 0; list-style: none; }
#mobile-nav ul li { position: relative; list-style-type: none; }
#mobile-nav ul li a { color: #111; font-size: 13px; text-transform: uppercase; overflow: hidden; padding: 12px 20px 12px 15px; position: relative; text-decoration: none; width: 100%; display: block; outline: none; font-weight: 700; border-bottom: 1px solid #f5f5f5; }
#mobile-nav ul li a:hover { color: 000; }
#mobile-nav ul li li { padding-left: 30px; }
#mobile-nav ul .menu-has-children i { position: absolute; right: 0; z-index: 99; padding: 15px; cursor: pointer; color: 000; background-color: #f5f5f5; }

#mobile-nav ul .menu-has-children i.fa-chevron-up { color: 000; }

#mobile-nav ul .menu-has-children li a { text-transform: none; }

#mobile-nav ul .menu-item-active { color: 000; }

#mobile-body-overly { width: 100%; height: 100%; z-index: 997; top: 0; left: 0; position: fixed; background: rgba(255, 255, 255, 0.8); display: none; }

body.mobile-nav-active { overflow: hidden; }

body.mobile-nav-active #mobile-nav { left: 0; }

body.mobile-nav-active #mobile-nav-toggle span { background-color: #000; }

.main-footer { position: absolute; bottom: 0px; width: 100%; height: 60px; line-height: 60px; background-color: #f5f5f5; }

#scrollTop { width: 40px; height: 40px; position: fixed; right: -80px; bottom: 10%; border-radius: 100%; color: #fff; text-align: center; line-height: 40px; -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); font-size: 0.7rem; cursor: pointer; z-index: 9998; background: #5989e5; background-image: -webkit-linear-gradient(linear, left top, right top, from(#5989e5), to(#37cfdc)); background-image: -moz-linear-gradient(linear, left top, right top, from(#5989e5), to(#37cfdc)); background-image: linear-gradient(to left, #5989e5, #37cfdc); -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -ms-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out; transform: rotate(360deg); }

#scrollTop.active { right: 15px; transform: rotate(0deg); }

.loading-section { position: relative; width: 100%; height: 100%; background-color: #fff; z-index: 999; }

.loading-wrap { position: fixed; top: 50%; left: 50%; width: 300px; height: 300px; transform: translate(-50%, -50%); }

.progress-bar { animation: a-s .5s 0.5s 1 forwards; background-color: #f1f1f1; height: 5px; margin: 56px auto 20px; opacity: 0; overflow: hidden; position: relative; width: 300px; border-radius: 30px; }

.progress-bar::before { animation: a-lb 20s 1s linear forwards; background-color: #e1275f; content: ''; display: block; height: 100%; position: absolute; width: 100%; -webkit-transform: translateX(-300px); -moz-transform: translateX(-300px); -ms-transform: translateX(-300px); -o-transform: translateX(-300px); transform: translateX(-300px); }

.loading-msg { color: #757575; text-align: center; }

@keyframes a-lb { 0% { -webkit-transform: translateX(-300px); -moz-transform: translateX(-300px); -ms-transform: translateX(-300px); -o-transform: translateX(-300px); transform: translateX(-300px); }
  5% { -webkit-transform: translateX(-240px); -moz-transform: translateX(-240px); -ms-transform: translateX(-240px); -o-transform: translateX(-240px); transform: translateX(-240px); }
  15% { -webkit-transform: translateX(-30px); -moz-transform: translateX(-30px); -ms-transform: translateX(-30px); -o-transform: translateX(-30px); transform: translateX(-30px); }
  25% { -webkit-transform: translateX(-30px); -moz-transform: translateX(-30px); -ms-transform: translateX(-30px); -o-transform: translateX(-30px); transform: translateX(-30px); }
  30% { -webkit-transform: translateX(-20px); -moz-transform: translateX(-20px); -ms-transform: translateX(-20px); -o-transform: translateX(-20px); transform: translateX(-20px); }
  45% { -webkit-transform: translateX(-20px); -moz-transform: translateX(-20px); -ms-transform: translateX(-20px); -o-transform: translateX(-20px); transform: translateX(-20px); }
  50% { -webkit-transform: translateX(-15px); -moz-transform: translateX(-15px); -ms-transform: translateX(-15px); -o-transform: translateX(-15px); transform: translateX(-15px); }
  65% { -webkit-transform: translateX(-15px); -moz-transform: translateX(-15px); -ms-transform: translateX(-15px); -o-transform: translateX(-15px); transform: translateX(-15px); }
  70% { -webkit-transform: translateX(-10px); -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -o-transform: translateX(-10px); transform: translateX(-10px); }
  95% { -webkit-transform: translateX(-10px); -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -o-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -webkit-transform: translateX(-5px); -moz-transform: translateX(-5px); -ms-transform: translateX(-5px); -o-transform: translateX(-5px); transform: translateX(-5px); } }
@keyframes a-s { 100% { opacity: 1; } }
.main-wrapper { min-height: 100%; height: 100%; position: relative; }

.main-content { padding: 50px 0px; position: relative; }

.btn-theme { position: relative; z-index: 1; text-transform: uppercase; overflow: hidden; border-radius: 50px; padding: 0.6rem 3rem; text-align: center; }

.btn-theme-primary { color: #fff; border: 1px solid #111; background: #5989e5; background-image: -webkit-linear-gradient(linear, left top, right top, from(#5989e5), to(#37cfdc)); background-image: -moz-linear-gradient(linear, left top, right top, from(#5989e5), to(#37cfdc)); background-image: linear-gradient(to left, #5989e5, #37cfdc); -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.btn-theme-primary:hover { color: #fff; }

.btn-theme-outline { color: #111; border: 1px solid #111; background-color: transparent; background-image: none; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.btn-theme-outline:hover { color: #fff; background-color: #5989e5; border-color: #5989e5; }

.btn-shadow { -webkit-box-shadow: 0 10px 20px rgba(109, 109, 109, 0.16) !important; box-shadow: 0 10px 20px rgba(109, 109, 109, 0.16) !important; }

@media (min-width: 320px) and (max-width: 767px) { .btn-theme { margin-bottom: 10px; min-width: 200px; } }

/*# sourceMappingURL=style.css.map */
